<footer>
    <nav class="navFooter">
        <ul>
            <li><h3>A</h3></li>
            <li><a href="/products/create">Create a product</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
        </ul>

        <ul>
            <li><h3>B</h3></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
        </ul>

        <ul>
            <li><h3>D</h3></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
        </ul>

        <ul>
            <li><h3>D</h3></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
        </ul>

        <ul>
            <li><h3>E</h3></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
            <li><a href="">Lorem, ipsum dolor.</a></li>
        </ul>
    </nav>
</footer>