<header>
    <nav class="navHeader">
        <ul class="ulNavHeader">
            <li><a href="/"><div class="logo">
                <img src="/img/logoWhite.png" alt="logo">
                </div></a>
            </li>     
            <li class="navItem"><a href="/products">Smartphone</a></li>
            <li class="navItem"><a href="/products">Laptop/PC</a></li>  
            <li class="navItem"><a href="/products">Headphone</a></li> 
            <li class="navItem"><a href="/products">Tv</a></li> 
            <li class="navItem"><a href="/products">Camera</a></li> 
            <li class="navItem"><a href="/products">Smart Watch</a></li> 
            <li class="navItem"><a href="/products">Smart House</a></li> 
            <li class="navItem"><a href="/products">Gaming</a></li> 
            <li class="navItem"><a href="/products">Accesories</a></li> 
            <li class="navItem"><a href="/products">Offers</a></li> 
            <li class="navItem"><a href="#">Support</a></li> 
            <li class="navItem"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li> 
            <li class="navItem"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>  
            
            <% if (locals.user) {%>
                <div class="divLogin"><li class="navItem"><a href="/users/login"><img class="imgProfile" src="/img/users/<%=user.image%>" alt=""></a>
                    <ul class="verticalMenu">
                            <li class="navItem"><a href="/users/login">My profile</a></li>
                            <li class="navItem"><a href="/users/logout">Log out</i></a></li>
                    </ul>
                    </li></div>
            <% }else{ %>


            <div class="divLogin"><li class="navItem"><a href="/users/login"><i class="fa-solid fa-user"></i></a>
            <ul class="verticalMenu">
                    <li class="navItem"><a href="/users/login">My profile</a></li>
                    <li class="navItem"><a href="/users/logout">Log out</i></a></li>
            </ul>
            </li></div>
            <% } %>

        </ul>  
        
        <div class="navBarRight">
            <li><a href="/"><div class="logo">
                <img src="/img/logoWhite.png" alt="logo">
                </div></a>
            </li> 
            <li class="navBars"><a href="#" class="aBurgerButton"><i class="fa-solid fa-bars"></i></a></li> 
            <li class="navItem"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li> 
            <li class="navItem"><a href="/shoppingcar"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="navItem"><a href="/users/login"><i class="fa-solid fa-user"></i></a></li> 
        </div>
    </nav>   

</header>

<div class="navHide">
    <ul class="ulNavHide">
        <li class="navItem"><a href="/products">Smartphone</a></li>
        <li class="navItem"><a href="/products">Laptop/PC</a></li>  
        <li class="navItem"><a href="/products">Headphone</a></li> 
        <li class="navItem"><a href="/products">Tv</a></li> 
        <li class="navItem"><a href="/products">Camera</a></li> 
        <li class="navItem"><a href="/products">Smart Watch</a></li> 
        <li class="navItem"><a href="/products">Smart House</a></li> 
        <li class="navItem"><a href="/products">Gaming</a></li> 
        <li class="navItem"><a href="/products">Accesories</a></li> 
        <li class="navItem"><a href="/products">Offers</a></li> 
        <li class="navItem"><a href="/products">Support</a></li> 
    </ul>
</div>

