<input class="openModal" type="radio" name="modal" id="openModal">
<label class="labelOpenModal" for="openModal">who I am?</label> 
<input class="closeModal" type="radio" name="modal" id="closeModal">

<div class="modal" id="modal">
    <label class="labelCloseModal" for="closeModal"><i class="fa-solid fa-xmark"></i></label>

<h2>Alejandro García</h2>
    <p>
I am a proactive engineer, passionate about the digital age and the technologies that allow us to stay connected. Day by day I am growing and learning; I like teamwork and sharing my knowledge with my colleagues.
I have extensive experience in programming and applied and consumer electronics, as well as research projects in multidisciplinary teams. Please feel free about contacting me!
</p>

<a class="contactMe" href="/personalcontact">Contact Me!</a>
</div>