<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <title>Ecommerce</title>
    
</head>
<body>
 
    <%- include('partials/header.ejs')%>
   
    <section class="sectionTop">
                    <h1>WELCOME TO WEB DESIGN</h1>
                    <h3>Faster and more Powerful!</h3>
                    <div class="divLearnBuy">
                        <a href="/products">Learn more ></a>
                        <a href="/products/shoppingcar">Buy ></a>
                    </div>         
                    <div class="topImage">
                        <a href="#"><img src="/img/products/sliderTop/pcGamer.png" alt=""></a>
                    </div>
    </section>

    </section>
    <!-- slider-->
    <section class="sectionBottomSlider">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><img src="/img/topSlider/1.png" alt=""></div>
              <div class="swiper-slide"><img src="/img/topSlider/2.png" alt=""></div>
              <div class="swiper-slide"><img src="/img/topSlider/3.png" alt=""></div>
              <div class="swiper-slide"><img src="/img/topSlider/4.png" alt=""></div>
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
    </section>
     <!-- slider bottom ends-->

    <section class="products">
        <ul class="ulProducts">
            <li class="productsItem"><a href="/products"><img src="/img/products/smartphone.png" alt=""></a></li>
            <li class="productsItem"><a href="/products"><img src="/img/products/laptops.png" alt=""></a></li>
            <li class="productsItem"><a href="/products"><img src="/img/products/headphones.png" alt=""></a></li>
            <li class="productsItem1"><a href="/products"><img src="/img/products/tvs.png" alt=""></a></li>
            <li class="productsItem1"><a href="/products"><img src="/img/products/cameras.png" alt=""></a></li>
            <li class="productsItem1"><a href="/products"><img src="/img/products/smartWatches.png" alt=""></a></li>
            <li class="productsItem1"><a href="/products"><img src="/img/products/smartHouses.png" alt=""></a></li>
            <li class="productsItem1"><a href="/products"><img src="/img/products/gaming.png" alt=""></a></li>
            <li class="productsItem1"><a href="/products"><img src="/img/products/accesories.png" alt=""></a></li>
        </ul>
    </section>

    <h3 class="h3FollowUs">Follow us!</h3>

    <div class="divSocialMedia">
        <ul class="ulSocialMedia">
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>

    <section class="sectionAddress">
        <div class="divAddress"><p class="pAddress">Address</p>
            <i class="fa-solid fa-location-dot"></i><span> C.U., Coyoacán, 04510 Ciudad de México, CDMX, México</span>
        </div>
        <div class="divDirectLine">
            <p class="pDirectLine">Direct line</p>
            <p class="pNum"><i class="fa-solid fa-phone"></i> +52 XX XXXX XXXX</p>
            <p class="pNum"><i class="fa-brands fa-whatsapp"></i> +52 XX XXXX XXXX</p>
        
            <div>
                <span>Monday to SATURDAY </span><span class="pNum">8:00 AM to 10:00 PM</span>
            </div>
                <span>Saturday and sunday </span><span class="pNum">9:00 AM to 9:00 PM</span>
       </div>
    </section>

    <section class="loremInf">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eum ab assumenda harum eos? Iure aliquid consequatur impedit est eaque beatae odio itaque pariatur earum voluptas rerum aspernatur a natus doloremque suscipit consectetur voluptate ipsa eligendi voluptatibus illum totam, adipisci fugiat molestias aliquam? Suscipit, numquam est magnam earum labore, beatae fugiat eos repellat nobis, porro totam laborum rerum et! Officia doloremque quibusdam ex ullam fuga praesentium quis aliquid eaque. Beatae, quisquam recusandae, vero quia quo adipisci ea consequatur minus deserunt officiis ducimus provident laborum aliquid voluptate autem. Optio dolorum corporis placeat possimus, asperiores mollitia exercitationem voluptate nihil quo dolor veritatis perspiciatis sunt fugiat deserunt atque culpa. Culpa repellendus, corrupti quisquam blanditiis similique, rerum laborum vitae, quibusdam aspernatur pariatur voluptatibus provident reprehenderit et maiores soluta dolores nesciunt architecto velit perspiciatis ipsam ducimus cumque commodi. Natus nobis doloribus numquam, optio architecto obcaecati libero possimus, exercitationem nulla voluptas minima ea eligendi quas corporis, earum dolores officia hic amet ex deleniti! Minus, quo libero. Deleniti accusamus hic reprehenderit, obcaecati quam odit labore repudiandae assumenda optio quas quos amet dolores. A, eum? Fuga deserunt provident ab distinctio dolores rem labore earum vitae quasi consequatur tempora exercitationem, tempore vero reprehenderit vel doloribus similique cum ut odio assumenda! Exercitationem nam quis vero labore reprehenderit quisquam quae facilis dolore culpa iusto eos iure expedita, possimus aspernatur. Nostrum soluta, alias libero, praesentium nemo corrupti autem quam nisi facere recusandae doloribus. Deleniti ut saepe ipsam at, vel nisi exercitationem necessitatibus vero, eveniet tempora nulla sit, distinctio praesentium dolorum tenetur quasi omnis! Blanditiis laudantium nobis magni. Sunt unde alias veniam dolorem exercitationem cumque ex nisi, ducimus culpa sequi natus earum architecto animi! Cumque, alias voluptates vel adipisci, facere magni ducimus, dignissimos molestiae enim assumenda veniam nemo corrupti. Delectus repudiandae qui fugit provident alias corrupti, aperiam accusamus est error nihil temporibus odit quo. Quibusdam laudantium praesentium ea illo doloremque eaque quasi, ab atque non veniam corporis quidem consequuntur delectus beatae incidunt vero at sunt fuga placeat. Sapiente impedit autem, et adipisci provident suscipit? Eum similique placeat nihil voluptatum nam, dicta deleniti recusandae aut neque enim modi pariatur dolor optio totam tempore doloremque autem fugiat, voluptatibus, reprehenderit quasi nesciunt? Possimus odio fugit ipsam soluta voluptatum dolores alias corporis temporibus deserunt sequi neque, in sunt tenetur ab reprehenderit. Sit nisi nostrum labore tempora nesciunt dolor qui fugit itaque repellat deleniti consectetur aspernatur molestiae, minus adipisci porro ea dolorum voluptas, commodi, maiores nobis sequi!

        
        <div class="bottomText">

        This page was based on:
        
            <div class="bottomLinks">
                <p><a href="https://www.apple.com/" target="_blank">apple.com.mx</p></a> 
                <p><a href="https://www.steren.com.mx/" target="_blank">steren.com.mx</p></a> 
            </div>
        </div>
    </p>
    </section>

    <div class="finalLogo">
        <img src="/img/logoBlack.png" alt="">
    </div>
        
    <%- include('partials/footer.ejs')%>

    <%- include('partials/modal.ejs')%>

    <script src="/js/burger.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    </body>
    </html>