*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
}

body{
    background-color: rgb(234, 234, 234);
    max-width: 2200px;
    min-width: 355px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Vertical menu login */
body header .ulNavHeader .verticalMenu{
    display: none;
    transition: all 250ms;
    width: 80px;
    background-color: rgba(18, 18, 18, 0.8);
    position: absolute;
    top:60px;
    right: 11.4%;
    border-radius: 0px 0px 5px 5px;
}

body header .ulNavHeader .verticalMenu li{
    text-align: center;
    padding: 5px 0;
}

body header .ulNavHeader .verticalMenu li:hover{
    background-color: rgba(110, 110, 110, 0.8);
}

.divLogin{
    height: 60px;
    display: flex;
    align-items: center;
}

body header .ulNavHeader .divLogin:hover .verticalMenu{
    display: block;
    align-items: center;
}

/* Header */
header{
    width:100%;
    /* max-width: 1500px;  */
    background-color: rgb(18, 18, 18);
    height: 60px;
    position:fixed;
    z-index: 10;
    top: 0;
}

header .navHeader{
    width: 100%;
    height: 100%;
}

header nav ul img{
    height: 25px;
    opacity: .8;
}

header nav .ulNavHeader{
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li{
    font-size: 12px;
    list-style: none;
}

header nav ul .navBars, header nav .navBarRight{
    display: none;
}

header nav ul a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: all 150ms;
}

header nav ul a:hover{
    color: rgba(255, 255, 255,0.9);
}

Body .navHide{
    display: none;
}

/* Article */
body .mainSection{
    width: 90%;
    margin: auto;
    margin-top: 120px;
}

body section .article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

body section .divImage{
    width: 60%;
}

body section img {
    width: 100%;
    border-radius:15px;
    box-shadow: 0 0 15px 2px;
}

/* Product info */
body section .productInfo{
    width: 38%;
    padding: 0 10px;
    box-shadow: 0 0 15px 3px;
    border-radius: 20px;
    height: 600px;
    position: absolute;
    top: 40vh;
    right: 0;
    transform: translate(0, -50%);
}

body section .productInfo .pName{
    text-align: center;
    font-size: 44px;
    color:rgba(18, 18, 18, 1);
    font-weight: 500;
    margin-bottom: 5%;
}

body section .productInfo .spanPrice, .spanDiscount, .spanDonotPay{
    font-size: 26px;
    color:rgba(18, 18, 18, 0.8);
    font-weight: 400;
    margin-bottom: 5%;

}

body section .productInfo .spanPrice{
    color:rgba(18, 18, 18, 0.7);
    text-decoration: line-through;
    margin-right: 25px;
    font-weight: bold;
}

body section .productInfo .pFinalPrice{
    font-size: 42px;
    color:rgba(18, 18, 18, 1);
    font-weight: 600;
    margin-bottom: 5%;
    margin-top: 5%;
}

body section .productInfo .infoBottom{
    font-size: 28px;
    margin-bottom: 10%;
    color:rgba(18, 18, 18, 0.8);
}

body section .productInfo .buttonBuy{
 padding: 5px 29px;
 display: block;
 margin: auto;
 background-color: rgb(138, 9, 9);
 border-radius: 5px;
}


body section .productInfo .buttonBuy p{
    color: white;
    font-size: 33px;
    margin-bottom: 5px;
}

body section .productInfo .actionButton{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    justify-content: space-evenly;
}

body section .productInfo .actionButton .divEdit, .formDelete{
    width: 47.5%;
}

hr{
    margin: 5% 2.5% 5% 0;
}

body section .productInfo .buttonEdit{
    width: 180px;
    color: white;
    font-size: 28px;
    background-color: rgb(255, 165, 0, 0.6);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding-bottom: 5px ;
}

body section article .actionButton{
    margin: 0 5px 30px 0
}

body section article .productDescription{
    box-shadow: 0 0 5px 1px;
    border-radius: 10px;
    margin: 0 5px 0 0;
    font-size: 22px;
    text-align: center;
}

/* Footer */
footer{
    margin-top: 80px;
    background-color: rgba(18, 18, 18, 0.9);
}

body .finalLogo{
    width:20%;
    margin-left: 5%;
    margin-top: 60px;
}

body .finalLogo img{
    width: 300px;
    opacity: 0.9;
}

footer nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
}

footer h3{
    color: rgba(255, 255, 255, 0.9);
    font-size: 17px;
    text-align: center;
}

footer .navFooter ul li{
    font-size: 15px;
    text-decoration: none;
}

footer .navFooter ul li a{
    color: rgba(255, 255, 255, 0.7);
    transition: all 150ms;
}

footer .navFooter ul li a:hover{
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1023px) {
    /* Header */
    header nav .ulNavHeader{
        display: none;
    }
     a{
        color: rgba(255, 255, 255, 0.9);
    }
    body .navHide{
        width: 100%;
        background-color: rgb(18, 18, 18);
        font-size: 15px;
        margin-top: 60px;
        margin-bottom: -70px;
    }
    body .navHide.active{
        display: flex;
    }
    .navHide .ulNavHide{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 4px;
    }
    .navHide .ulNavHide li{
        width: 100%;
        padding: 2px;
        margin: 0;
        text-align: center;
        transition: all 150ms;
    }
    .navHide .ulNavHide li:hover{
        background-color: rgb(66, 66, 66);
    }
    body header nav .navBarRight{
        display: flex;
        width: 40%;
        height: 60px;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    header nav .logo img{
        height: 18px;
        opacity: 0.9;
        margin-top: 3px;
    }

    /* Section */
    body section .productInfo{
        height: 500px;
    }
    
    body section .productInfo .pName{
        font-size: 40px;
    }
    
    body section .productInfo .spanPrice, .spanDiscount{
        font-size: 22px;    
    }
    
    body section .productInfo .pFinalPrice{
        font-size: 38px;
    }
    
    body section .productInfo .infoBottom{
        font-size: 21px;
        padding-right: 5px;
    }
    
    body section .productInfo .buttonBuy{
        height: 50px;
    }
    
    body section .productInfo .buttonBuy p{
        font-size: 29px;
    }
    
    body section .productInfo .buttonEdit, .buttonDelete{
        font-size: 21px;
    }
    
    body section article .actionButton{
        margin: 0 5px 20px 0
    }
    
    body section article .productDescription{
        font-size: 18px;
    }
    
    /* Footer */
    footer nav ul li{
        font-size: 14px;
    }
    footer nav ul h3{
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    
    /* Header */
    body header nav .navBarRight{ /* icons */
        width: 50%;
    }
      /* Section */

    body section .article{
        width: 100%;
    }
    
    body section .divImage{
        width: 50%;
    }
      body section .productInfo{
        width: 48%;
        height: 400px;
        }
    
    body section .productInfo .pName{
        font-size: 30px;
    }
    
    body section .productInfo .spanPrice, .spanDiscount{
        font-size: 19px;    
    }
    
    body section .productInfo .pFinalPrice{
        font-size: 30px;
    }
    
    body section .productInfo .infoBottom{
        font-size: 19px;
        padding-right: 5px;
    }
    
    body section .productInfo .buttonBuy{
        height: 40px;
    }
    
    body section .productInfo .buttonBuy p{
        font-size: 26px;
    }
    
    body section .productInfo .buttonEdit, .buttonDelete{
        font-size: 19px;
    }
    
    body section article .actionButton{
        margin: 0 5px 10px 0
    }
    
    body section article .productDescription{
        font-size: 16px;
    }

    /* Footer */
    footer nav ul li{
        font-size: 13px;
    }
    footer nav ul h3{
        font-size: 15px;
    }
}
