/* Modal */
.modalDelete{
    background-color: rgba(18, 18, 18,0.95);
    position: fixed;
    top: -100vh;
    left: -25vw;
    width: 100%;
    z-index: 100;
    transition: all 1s;
}

.modalDelete h2{
text-align: center;
margin-top: 130px;
color: white;
font-size: 28px;
font-weight: 400;
}

.modalDelete p{
    width: 80%;
    text-align: justify;
    position: absolute;
    left: 10%;
    font-size: 23px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    color: white;
}

.openModalDelete{
    display: none;
}

/* .labelOpenModalDelete{
    position: fixed;
    z-index: 11;
    top: 21px;
    right: 40px; 
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 150ms;
    cursor: pointer;
} */

/* .labelOpenModal:hover{
 color: rgba(255, 255, 255, 0.9);
} */

.openModalDelete:checked~.modalDelete{
        top: 25vh;
}

.closeModalDelete{
 display: none;
}

.labelCloseModalDelete{
    border: 2px red solid;
}

.labelCloseModalDelete:hover{
        color: rgba(255, 255, 255, 0.9);
}

.closeModalDelete:checked ~ .modalDelete{
    top:-300vh;
}

/* 
@media (max-width: 1023px) {
    .modal h2{
        margin-top: 120px;
        font-size: 24px;
    }

    .modal p{
        font-size: 20px;
    }
    .contactMe{
        left: 43%;
        top: 70%;   
        }
}

@media (max-width: 767px) {
    .modal h2{
        margin-top: 120px;
        font-size: 22px;
    }
    .modal p{
        font-size: 18px;
    }
    .contactMe{
        left: 40%;
        top: 75%;   
        }
} */

